*{
  margin: 0;
  padding: 0;
  /*! text-align: center; */
  color: #222831;
  /*! margin: ; */
}
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0 10%;
    min-width: 700px;
  }
h1 {
    font-size: 421%;
    font-family: 'Handjet', cursive;
}
header {
  position: fixed;
  top: 2%;
  width: 80%;
}
.HeaderText {
  background-color: #222831;
  color: white;
  /*! width: ; */
  /*! height: 12%; */
  padding: 1% 0;
  text-align: center
}
nav {
  background-color: #00ADB5;
}
a{
  text-decoration: none;
}
ul, ol{
  list-style: none;
}
.Pages {
  overflow: auto;
  width: 100%;
}
.NavLink{
  color: white;
  padding: 1%;
  float: left;
  font-size: 130%;
}

.NavLink:hover {
  color: #00ADB5;
  background-color: white;
}

footer {
  position: fixed;
  bottom: 4%;
  width: 80%;
  padding: 1% 0;
  background-color: #222831;
  text-align: center
}
.FooterText {
  color: white;
  background-color: #222831;
  font-size: 150%;
}

.Rendered {
  position: fixed;
  top: 185px;
  width: 80%;
  /*! bottom: 100px; */
  height: 55%;
  overflow: scroll;
}


.field-validation-error {
  /*! clear: right; */
  color: red;
}

.ArticleImageLabel {
  float: right;
  /*! clear: left; */
}
.ArticleImage {
  float: right;
  clear: right;
}

.submit-validated-message{
  color: green;
}

#article-overviews-scroll {
  position: fixed;
  width: 50%;
  left: 25%;
  height: 55%;
  overflow: auto;
}

.article-overview-image {
  width: 30%;
  height: 30%;
  flex: 2;
  margin: 0 2%;
}
.article-overview {
  display: flex;
  align-items: center;
}
.article-overview-title-author-category {
  flex-grow: 2;
}

#article-post {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 0 2%;
}
.TopPostColumn {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.BottomPostColumn {
  flex: 3;
  display: flex;
  flex-direction: column;
}
#Input_Body {
  flex: 1;
  margin: 1% 0;
}
.ArticleLabel {
}
.ArticleSubmit {
  width: 8%;
  height: 10%;
  margin: 1% 0;
}
.field-validation-valid {
}
.RightPostColumn {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.LeftPostColumn {
  order: 1;
}
.LeftPostColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  /*! gap: 29%; */
  justify-content: space-evenly;
}

#Input_Title {
  margin: 0 1%;
}
#Input_Category {
  margin: 0 1%;
}

article {
  display: flex;
  flex-direction: column;
  /*! height: 100%; */
}
.article-header {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
.article-body {
  flex: 10;
}
img {
  width: 30%;
}

.article-scroll {
  width: 90%;
  margin: 0 5%;
  overflow: scroll;
}
article-image {
  width: 30%;
}