@page "{ArticleId}"
@model Pages.ArticlePageModel
<div class="article-scroll">
    <article>
    <div class="article-header">
        <div class="article-info">
        <h1>@Model.Article.Title</h1>
    <h3>By @Model.Article.AuthorUserName</h3>
    <h4>Category: @Model.Article.Category</h4>
    </div>
    <img class="article-image" src=@Model.Article.ImageUrl>
    </div>
    <main class="article-body">
       @Model.Article.Content
    </main>
</article>
</div>