@page
@model Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="article-overviews-scroll">
    @{
    foreach (var articleOverviewModel in Model.Articles)
    {
        <partial name="/Pages/_ArticleOverview.cshtml" model="articleOverviewModel"></partial>
    }
}
</div>